# Nuxt dev/build outputs
.data
.nuxt
.nitro
.cache
.output
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.eslintcache

# Local env files
.env
.env.*
!.env.example

# npm pack
*.tgz

# Temp files
.tmp
.profile
*.0x

#VSC
.history
.wrangler

# App installers (upload manually)
public/downloads/*.apk
public/downloads/*.dmg
public/downloads/*.exe
public/downloads/*.pkg
public/downloads/*.msi
public/downloads/.uuremote_*
